<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>
<!--<link rel="stylesheet" href="techjobs.css">-->
<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>

    <form th:action="@{/search/results}">
        <h2>Search by:</h2>

        <p>
            <span th:each="column : ${columns}">
                <input
                        type="radio"
                        name="searchKey"
                        th:id="${column.key}"
                        th:value="${column.key}"
                        th:checked="${column.key == 'all'}"/>
                <label th:for="${column.key}" th:text="${column.value}"></label>
            </span>
        </p>
        <p>
            <label for="searchTerm">Keyword:</label>
            <input type="text" name="searchTerm" id="searchTerm" />
        </p>

        <input type="submit" value="Search" />
    </form>

    <hr />
  <!--TODO #2 - Loop over jobs map to display all job fields &ndash;&gt;&ndash;&gt;-->
    <div th:if ="${results}">
    <span th:if="${results.size() &gt; 2}" th:text="${results.size()} + ' jobs match ' + ${searchQuery}"></span>
    <span th:if="${results.size() &lt; 2}" th:text="${results.size()} + ' job(s) match that search.'"></span>
    <div th:fragment="job-display">
        <table class="job-listing" th:each="result: ${results}">
            <tr th:each="row :${result}">

                <td th:text="${row.key}"></td>

                <td th:text="${row.value}"></td>

            </tr>

        </table>
</div>
    </div>
    <!--<script>-->
        <!--function search(){-->
        <!--&lt;!&ndash;var x="", i;&ndash;&gt;-->
        <!--for (HashMap<String, String> row : results) {-->
            <!--String aValue = row.get(id);-->
            <!--if (aValue != null && aValue.toLowerCase().contains(text.toLowerCase())) {-->
                <!--results.add(row);-->
            <!--}}-->
    <!--</script>-->
    <!--div class="container body-content">-->
    <!--<h1 th:text="${#strings.capitalizeWords(title)}"></h1>-->
    <!--<h2>View All</h2>-->
    <!--<ul>-->
    <!--<li th:each="column : ${columns}">-->
    <!--<a th:href="@{/list/values(column=${column.key})}" th:text="${column.value}"></a>-->
    <!--</li>-->
    <!--</ul>-->



</div>
</body>
</html>